@media (max-width: 1740px) {
	.cm-ctn {
		max-width: 1290px !important;
	}

	.header nav>ul>li>a {
		font-size: 20px;
	}

	.header nav>ul {
		gap: 28px;
	}

	.header .sign {
		height: 48px;
		padding: 0px 36px;
		margin-left: 70px;
	}

	.header .logo {
		font-size: 40px;
	}

	.header {
		padding: 26px 0px;
	}

	.home-banner h1 {
		font-size: 74px;
	}

	.home-banner p {
		font-size: 28px;
		max-width: 84%;
	}

	.home-banner .btn-yellow {
		min-width: 254px;
	}

	.btn-yellow {
		height: 64px;
		font-size: 24px;
	}

	.home-banner .books {
		height: 66px;
		width: 114px;
		inset: 10% auto 0px 29%;
	}

	.anim-girl {
		inset: auto 8% 62px auto;
		height: 341px;
		width: 344px;
	}

	.anim-boy {
		inset: auto 0px 20px 59px;
		height: 420px;
		width: 332px;
	}

	.home-banner .title {
		max-width: 982px;
	}
}

@media (max-width: 1640px) {}

@media (max-width: 1540px) {
	.home-banner .title {
		max-width: 856px;
	}

	.home-banner {
		max-height: 770px;
	}

	.home-banner h1 {
		font-size: 64px;
		margin-bottom: 24px;
	}

	.home-banner p {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.anim-girl {
		inset: auto 8% 62px auto;
		height: 306px;
		width: 312px;
	}

	.anim-boy {
		inset: auto 0px 20px 59px;
		height: 374px;
		width: 301px;
	}
}

@media (max-width: 1440px) {
	.home-banner .title {
		max-width: 746px;
	}

	.home-banner .clock {
		height: 52px;
		width: 52px;
	}

	.star {
		width: 51px;
		height: 51px;
	}

	.dots .dote.sm {
		height: 8px;
		width: 8px;
	}

	.dots .dote.md {
		height: 12px;
		width: 12px;
	}

	.dots .dote.big {
		height: 18px;
		width: 18px;
	}

	.btn-yellow {
		height: 58px;
		font-size: 22px;
	}

	.home-banner .btn-yellow {
		min-width: 215px;
	}

	.header .logo {
		font-size: 34px;
	}

	.header nav>ul>li>a {
		font-size: 17px;
	}

	.cm-ctn {
		max-width: 1220px !important;
	}

	.home-banner {
		max-height: 720px;
	}

	.home-banner h1 {
		font-size: 54px;
	}

	.home-banner p {
		font-size: 22px;
	}
}

@media (max-width: 1240px) {
	.home-banner h1 {
		font-size: 42px;
	}
	.home-banner .title {
		max-width: 590px;
	}
	.home-banner p {
		font-size: 18px;
	}
	.anim-boy {
		height: 322px;
		width: 290px;
	}
	.anim-girl {
		inset: auto 8% 40px auto;
		height: 264px;
		width: 256px;
	}
	.home-banner .btn-yellow {
		min-width: 180px;
	}
	.btn-yellow {
		height: 52px;
		font-size: 20px;
	}
	.home-banner {
		max-height: 670px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 921px) {}