@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --white: white;
    --black: #000000;
    --sans: "Open Sans", sans-serif;
    --nunito: "Nunito", sans-serif;
    --Inter: "Inter", sans-serif;
    --Poppins: "Poppins", sans-serif;
    --dashblue: #152942;
    --gray900: #101828;
    --gray700: #344054;
    --gray600: #475467;
    --gray200: #E4E7EC;
    --green: #20b573;
    --lilita: "Lilita One", sans-serif;
    --yellow: #FAB438;
    --navi-blue: #182e45;
}


:is(h1, h2, h3, h4, h5, h6, p) {
    margin: 0px;
    height: fit-content;
    text-align: left;
    letter-spacing: 0em;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

:is(img, video, iframe) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

ul,
ol {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

:where(select,
    textarea,
    input,
    button) {
    border-radius: 0px !important;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    box-shadow: none !important;
    text-align: left;
}

.slider {
    opacity: 0;
    visibility: hidden;
}

.slick-initialized {
    opacity: 1 !important;
    visibility: visible !important;
    margin: 0 !important;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
header.shadow{
 background-color: var(--navi-blue);
}
.header {
    position: fixed;
    inset: 0px;
    height: fit-content;
    z-index: 9999;
    padding: 36px 0px;
}

.header .logo {
    font-size: 46px;
    font-weight: 400;
    line-height: 52.58px;
    font-family: var(--lilita);
    color: var(--white);
}

.header .logo span {
    color: var(--green);
}

.header nav>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header nav>ul>li>a {
    color: var(--white);
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    transition: 0.4s;
}

.header nav>ul>li>a:hover,
.header nav>ul>li>a.active {
    color: var(--green);
    position: relative;
}

.header nav>ul>li>a.active:after {
    background-color: var(--green);
    position: absolute;
    inset: 25px 0px;
    height: 1px;
    content: '';
}

.button {
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}

.btn-yellow {
    background-color: var(--yellow);
    height: 72px;
    color: var(--navi-blue);
    border-radius: 50px !important;
    min-width: 232px;
    font-size: 28px;
    font-weight: 500;
    border: 1px solid var(--yellow);
}

.btn-yellow:hover {
    background-color: transparent;
    color: var(--yellow);
}

.home-banner .btn-yellow {
    min-width: 309px;
}

.cm-ctn {
    max-width: 1600px;
    margin: 0px auto;
    width: 100%;
}

.cm-row {
    display: flex;
}

.header .right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-banner {
    min-height: 600px;
    height: 100vh;
    position: relative;
    background-color: var(--navi-blue);
    display: flex;
    align-items: center;
    max-height: 928px;
    padding-bottom: 140px;
    overflow: hidden;
}

.home-banner h1 {
    color: var(--white);
    text-align: center;
    font-size: 88px;
    font-weight: 400;
    font-family: var(--lilita);
    margin-bottom: 46px;
}

.home-banner p {
    color: var(--white);
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    max-width: 90%;
    margin-bottom: 50px;
}

.home-banner img {
    object-fit: contain;
}

.anim-boy {
    position: absolute;
    inset: auto 0px 20px 42px;
    height: 485px;
    width: 380px;
    transform: translate(-100%, 0px);
}

.home-banner .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}

.home-banner h1 span {
    color: var(--yellow);
    position: relative;
}

.home-banner h1 span:after {
    content: '';
    height: 80px;
    width: 69px;
    position: absolute;
    inset: 0px -71px 0px auto;
    background-image: url('../images/text-star.png');
    margin: auto;
    transform: translateX(100%);
}

.header .sign {
    border: 1px solid #fff;
    color: var(--white);
    height: 60px;
    padding: 0px 46px;
    border-radius: 50px !important;
    margin-left: 90px;
}

.header .sign:hover {
    background-color: var(--green);
}

.home-banner .clock {
    height: 71px;
    width: 74px;
    position: absolute;
    inset: 19% 16% 0px auto;
}

.home-banner .books {
    height: 88px;
    width: 148px;
    position: absolute;
    inset: 8% auto 0px 26%;
}

.dots {
    position: absolute;
    inset: 0px;
    pointer-events: none;
    user-select: none;
}

.dots .dote {
    background-color: #3B4D64;
    border-radius: 50px;
    position: absolute;
}

.dots .dote.big {
    height: 25px;
    width: 24px;
}

.dots .dote.md {
    height: 18px;
    width: 18px;
}

.dots .dote.sm {
    height: 12px;
    width: 12px;
}

.home-banner .dots .dote.big:nth-of-type(1) {
    inset: 18% 0px 0px 6%;
}

.home-banner .dots .dote.big:nth-of-type(2) {
    inset: auto 0px 13% 24%;
}

.home-banner .dots .dote.big:nth-of-type(3) {
    inset: 16% 0px auto 40%;
}

.home-banner .dots .dote.md:nth-of-type(4) {
    inset: 24% 4% 0% auto;
}

.home-banner .dots .dote.md:nth-of-type(5) {
    inset: auto 23% 18% auto;
}

.home-banner .dots .dote.md:nth-of-type(6) {
    inset: auto 40% 12% auto;
}

.home-banner .dots .dote.md:nth-of-type(7) {
    inset: 51% auto auto 18%;
}

.home-banner .dots .dote.sm:nth-of-type(8) {
    inset: auto 14% 8% auto;
}

.home-banner .dots .dote.sm:nth-of-type(9) {
    inset: 22% 24% auto auto;
}

.home-banner .dots .dote.sm:nth-of-type(10) {
    inset: auto auto 11% 40%;
}

.home-banner .dots .dote.sm:nth-of-type(11) {
    inset: 21% auto auto 18%;
}

.home-banner .dots .dote.sm:nth-of-type(12) {
    inset: 19% auto auto 59%;
}

.home-banner .quad {
    width: 31px;
    height: 31px;
    position: absolute;
    inset: auto auto 10% 31%;
}

.home-banner .star {
    width: 90px;
    height: 90px;
    position: absolute;
    inset: auto 27% 5% auto;
}

.home-banner .anim-girl {
    position: absolute;
    inset: auto 5% 62px auto;
    height: 394px;
    width: 396px;
    transform: translate(100%, 0px);
}

.about-us {
    padding: 100px 0px;
    background-image: url('../images/about-us-bg.png');
    position: relative;
}

.about-us .text-wraper {
    max-width: 796px;
    width: 100%;
}

.about-us .text-wraper p {
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-us .text-wraper .button {
    margin-top: 42px;
}

.about-us .text-wraper h2 {
    color: var(--yellow);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}

.about-us .img {
    height: 728px;
    width: 699px;
    position: relative;
    z-index: 1;
}

.about-us .img:after {
    content: '';
    background-image: url('../images/about-us-effect.png');
    position: absolute;
    inset: 22px -26px auto auto;
    background-size: contain;
    height: 110px;
    width: 110px;
    z-index: -1;
    background-repeat: no-repeat;
}

.about-us .cm-row {
    justify-content: space-between;
    align-items: center;
}

.about-us .dots .dote.md:nth-of-type(1) {
    inset: auto auto 53% 1%;
}

.about-us .dots .dote.md:nth-of-type(2) {
    inset: auto auto 24% 39%;
}

.about-us .star {
    width: 40px;
    height: 46.9px;
    position: absolute;
    inset: 6% auto auto 35%;
}

.academic-benefits {
    padding: 100px 0px;
    position: relative;
    background-color: var(--navi-blue);
}

.academic-benefits .title {
    margin-bottom: 30px;
}

.academic-benefits .title h2 {
    color: var(--yellow);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.academic-benefits .title p {
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.academic-benefits .cm-row {
    gap: 38px;
    flex-wrap: wrap;
    max-width: 1344px;
    margin: 0px auto;
}

.academic-benefits .box {
    background-color: #21364C;
    width: calc(100% / 3 - 26px);
    border-radius: 40px;
    padding: 60px 30px;
    min-height: 373px;
}

.academic-benefits .box img {
    height: 52px;
    width: 52px;
    object-fit: contain;
    margin-bottom: 20px;
}

.academic-benefits .box h3 {
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 14px;
}

.academic-benefits .box p {
    color: var(--white);
    font-size: 24px;
    font-weight: 400;
}

.footer {
    background-color: var(--navi-blue);
    padding-top: 40px;
}

.footer .logo {
    font-size: 46px;
    font-weight: 400;
    line-height: 52.58px;
    font-family: var(--lilita);
    color: var(--white);
    margin-bottom: 20px;
}

.footer .logo span {
    color: var(--green);
}

.footer .logo-wraper {
    max-width: 482px;
    width: 100%;
    padding-right: 10px;
}

.footer .logo-wraper p {
    font-size: 26px;
    font-weight: 400;
    color: var(--white);
}

.footer .logo-wraper p span {
    color: var(--green);
}

.footer .column {
    width: 100%;
}

.footer .links {
    max-width: 258px;
}

.footer .contact {
    max-width: 429px;
}

.footer .contact .icons img {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}

.footer .contact .icons li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.footer .contact h6 {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2px;
}

.footer .contact .p {
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
}

.footer .links a {
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
}

.footer h4 {
    color: var(--white);
    font-size: 34px;
    margin-bottom: 45px;
    font-weight: bold;
}

.footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:34px 0px 48px 0px;
    border-top: 1px solid #FFF;
    margin-top: 100px;
}

.footer .copyright P {
    font-size: 22px;
    font-weight: 400;
    color: var(--white);
}

.footer .copyright P span {
    color: var(--green);
}
.footer .copyright ul{
    display: flex;
    gap: 20px;
}
.footer .copyright ul a{
     color: var(--white);
     font-size: 22px;
}
.footer .contact .social {
    display: flex;
    gap: 24px;
}

.footer .contact .social a {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--yellow);
}

.footer .contact .social a img {
    object-fit: scale-down;
}

.footer .news {
    max-width: 420px;
}

.footer .news P {
    font-size: 26px;
    font-weight: 400;
    color: var(--white);
}

.footer .input-form {
    background-color: #3B4F63;
    border-radius: 10px;
    height: 70px;
    margin-top: 28px;
    display: flex;
}
.footer .submit{
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: var(--yellow);
    border-radius: 10px !important;
    color: transparent;
    background-image: url('../images/sent.png');
    background-repeat: no-repeat;
    background-position: center;

}
.footer .input-form .input{
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    color: var(--white);
}
.footer .input-form .input::placeholder{
   font-size: 22px;
   font-weight: 400;
   color: var(--white);
}